.button-group {
    float: right;
    margin-right: 20px;
}

.button-group .button {
    margin: 0;
    margin-right: 5px;
    /* margin-bottom: 1px; */
    font-size: 0.9rem;
}

#date-pickers {
    margin: 0;
    padding: 0;
}

#start-date-box {
    display: inline-block;
    margin: 5px;
    /* width: 50%; */
    /* border: fuchsia solid 1px; */
}

#end-date-box {
    display: inline-block;
    margin: 5px;
    /* width: 50%; */
    /* border: fuchsia solid 1px; */
}

#start-date {
    display: inline-block;
    /* width: 50%; */
}

#end-date {
    display: inline-block;
    /* width: 50%; */
}

tr.group {
    border-bottom: #777 1px solid;
    border-top: #777 1px solid;
    font-weight: bold;
}

td.group {
    transition: none;
}

button.showDetails {
    background-color: #2ba6cb;
    /* display: none; */
    padding: 7px;
    margin: 5px;
    cursor: pointer;
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    border-radius: 50%
}

button.showDetails:focus {
    outline: 0;
}

.dateCol {
    white-space: nowrap;
}

.pmCol {
    white-space: nowrap;
}

tr.detail-row .open {
    transition: none;
}

tr.detail-row .close {
    transition: none;
}

/* tr.detail-row.odd {
    background-color: #f8f8f8;
}

tr.detail-row.even {
    background-color: white;
} */

#nav a {
    padding: 3px;
    margin-right: 10px;
}

.button-default {
    float: left;
    background-color: lightblue;
    margin-right: 10px;
    padding: 10px;
}

#searchbox {
    max-width: 30%;
    float: right;
    padding-right: 10px;
}

.line-chart {
    border: 1px solid lightgray;
}

.summary td {
    font-weight: bold;
    /* background-color: lightgrey; */
    cursor: pointer;
}

/* .pagination li:hover {
    cursor: pointer;

} */

tr.detail-row .open {
    transition: none;
}

tr.detail-row .close {
    transition: none;
    cursor: pointer;
}

.loader {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.spinner {
    height: 5vh;
    width: 5vh;
    border: 6px solid rgba(0, 174, 239, 0.2);
    border-top-color: rgba(0, 174, 239, 0.8);
    border-radius: 100%;
    animation: rotation 0.6s infinite linear 0.25s;

    /* the opacity is used to lazyload the spinner, see animation delay */
    /* this avoid the spinner to be displayed when visible for a very short period of time */
    opacity: 0;
}

@keyframes rotation {
    from {
        opacity: 1;
        transform: rotate(0deg);
    }

    to {
        opacity: 1;
        transform: rotate(359deg);
    }
}

/* add different color to child rows - needed css because zebra striping is not applied to
 info-only tbodies (first table), & row indexing is reset for each tbody (second table), so
 with only a row + child row, would all end up the same color */
/* #table .tablesorter-childRow td {
    background: #eee;
  }
  #table .tablesorter-childRow:hover td {
    background: 	#f2f9eb;
  }
  
  /* Make the primary row stand out */
.tablesorter tbody tr.summary td {
    background: #d7e5f3;
    color: black;
}

*/

/* dark border to make each tbody distinct */
#table tbody tr.main td {
    border-top: 1px solid #777;
    /* main row is clickable; toggle sibling/child rows */
    cursor: pointer;
}

.disabled {
    color: gray;
}


div.pager {
    text-align: right;
    width: 40em;
    margin: 1em auto;
}


#pager-button {
    color: black;
    background: #99bfe6;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

#table {
    margin: 5px;
}

#loadcat{
    height: 100px;
    width: 100px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}