.button-group {
    float: right;
    margin-right: 20px;
}

.button-group .button {
    margin: 0;
    margin-right: 5px;
    /* margin-bottom: 1px; */
    font-size: 0.9rem;
}

#date-pickers {
    margin: 0;
    padding: 0;
}

#start-date-box {
    display: inline-block;
    margin: 5px;
}

#end-date-box {
    display: inline-block;
    margin: 5px;
}

#start-date {
    display: inline-block;
}

#end-date {
    display: inline-block;
}

tr.detail-row .open {
    transition: none;
}

tr.detail-row .close {
    transition: none;
}

#nav a {
    padding: 3px;
    margin-right: 10px;
}

.button-default {
    float: left;
    background-color: lightblue;
    margin-right: 10px;
    padding: 10px;
}

#search-wrapper {
    max-width: 100%;
    right: 0;
    margin-right: 5px;
    position: absolute;
}

.line-chart {
    border: 1px solid lightgray;
}

.summary td {
    font-weight: bold;
    border-bottom: #777;
    border-top: #777;
    cursor: pointer;
}

.pagination li:hover {
    cursor: pointer;

}

tr.detail-row .open {
    transition: none;
}

tr.detail-row .close {
    transition: none;
    cursor: pointer;
}

.loader {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.spinner {
    height: 5vh;
    width: 5vh;
    border: 6px solid rgba(0, 174, 239, 0.2);
    border-top-color: rgba(0, 174, 239, 0.8);
    border-radius: 100%;
    animation: rotation 0.6s infinite linear 0.25s;

    /* the opacity is used to lazyload the spinner, see animation delay */
    /* this avoid the spinner to be displayed when visible for a very short period of time */
    opacity: 0;
}

@keyframes rotation {
    from {
        opacity: 1;
        transform: rotate(0deg);
    }

    to {
        opacity: 1;
        transform: rotate(359deg);
    }
}

/* Make the primary row stand out */
.tablesorter tbody tr.summary td {
    background: lightgray;
    cursor: pointer;
    color: black;
}

/* dark border to make each tbody distinct */
#table tbody tr.summary td {
    font-weight: bold;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    background: #e0e0e0;
    cursor: pointer;
}

.disabled {
    color: gray;
}


#table {
    margin: 5px;
      /* border-collapse: collapse;  */
}

#loadcat {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#loadpup {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#error {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#buttons {
    margin-left: 5px;
}

#previous-button {
    margin-left: 5px;
}

#next-button {
    margin-left: 5px;
    margin-right: 5px;
}

#last-button {
    margin-left: 5px;
}


#all-button {
    margin-left: 5px;
}


/* body {
    background-image: url(https://media.giphy.com/media/Y0cKnGMCBTNTi/giphy.gif);
    z-index: 1;
  } */

thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
    z-index: 10;
}

.tablesorter-default tr.even>td {
    background-color: white;
}

.tablesorter-default tr.odd>td {
    background-color: #F8F8F9;
}

#showEverything {
    margin-left: 10px;
    cursor: pointer;
}

.tablesorter-no-sort-tbody td {}

.tablesorter-no-sort-tbody tr:hover td {
    color: #333;
}

div.count{
    margin-left: 10px;
}

body {
    /* Never get smaller than this */
    font-size: 8px;
    word-wrap: break-word;
    flex-wrap: wrap;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    font-size: 2vw;
  }
  
  @media (min-width:600px) {
    body {
      font-size: 10px;
    }
  }
  
  @media (min-width:800px) {
    body {
      font-size: 14px;
    }
  }
  
  @media (min-width:1000px) {
    body {
      /* Never get larger than this */
      font-size: 20px;
    }
  }

  /* REQUIRED CSS: change your reflow breakpoint here (35em below) */
@media ( max-width: 35em ) {

    /* uncomment out the line below if you don't want the sortable headers to show */
    /* table.ui-table-reflow thead { display: none; } */
  
    /* css for reflow & reflow2 widgets */
    .ui-table-reflow td,
    .ui-table-reflow th {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: right;
      /* if not using the stickyHeaders widget (not the css3 version)
       * the "!important" flag, and "height: auto" can be removed */
      width: 100% !important;
      height: auto !important;
    }
  
    /* reflow widget only */
    .ui-table-reflow tbody td[data-title]:before {
      color: #469;
      font-size: .9em;
      content: attr(data-title);
      float: left;
      width: 50%;
      white-space: pre-wrap;
      text-align: bottom;
      display: inline-block;
    }
  
    /* reflow2 widget only */
    table.ui-table-reflow .ui-table-cell-label.ui-table-cell-label-top {
      display: block;
      padding: .4em 0;
      margin: .4em 0;
      text-transform: uppercase;
      font-size: .9em;
      font-weight: 400;
    }
    table.ui-table-reflow .ui-table-cell-label {
      padding: .4em;
      min-width: 30%;
      display: inline-block;
      margin: -.4em 1em -.4em -.4em;
    }
  
  } /* end media query */
  
  /* reflow2 widget */
  .ui-table-reflow .ui-table-cell-label {
    display: none;
  }
  

  #grandTotalRow{
    font-weight: bold;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    background-color: lightsteelblue;
    /* padding: 15px; */
  }

  .grandTd{
    font-weight: bold;
    /* font-size: 12px; */
    /* padding: 12px; */
  }
  
  #buttons{
    max-width: 100%;
  }

  #showEverything{
    max-width: 100%;
    display: block;
  }